/*Universal*/
html {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

main {
    padding-top: 50px;
}

/*Body padding for screens under 768px*/
@media only screen and (max-width: 768px) {
    main {
        padding-top: 135px;
    }
}

.image-container {
    overflow: hidden;
}

img {
    width: 100%;
    display: block;
}

/*Navigation bar*/
.nav {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar {
    padding: 0 1rem;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #f8f8f8;
    color: #399bd1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #595959;
}

/*Jumbotron*/
.carousel .jumbotron {
    background-position: 0 0;
    padding: 0;
    margin: 0;
    border: 2px solid red;
}

.container {
    color: white;
    text-align: center;
    /*width: 51.3rem;*/
    /*margin-top: 15%;*/
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.carousel h1 {
    font-family: 'Monoton', cursive;
    font-size: 7.1rem;
}

.carousel h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.carousel .jumbotron-bike {
    background: no-repeat center/100% url("../images/jumbotron-bike.jpg");
}

.carousel .jumbotron-beer {
    background: no-repeat transparent center/100% url("../images/jumbotron-beer.jpg");
}

.carousel .jumbotron-flowers {
    background: no-repeat transparent center/100% url("../images/jumbotron-flowers.jpg");
}

.carousel .jumbotron-duffel {
    background: no-repeat transparent center/100% url("../images/jumbotron-duffel.jpg");
}

/*Articles*/
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.wrapper h1 {
    color: #399bd1;
}

.wrapper span {
    display: block;
}

/*.col-sm-6 {*/
    /*border: 2px solid blue;*/
/*}*/

/*.col-sm-12 {*/
    /*border: 2px solid green;*/
/*}*/

